---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: localai-local-ai-models
  namespace: ai
  labels:
    app.kubernetes.io/name: &name localai
    app.kubernetes.io/instance: *name
    snapshot.home.arpa/enabled: "true"
spec:
  accessModes: ["ReadWriteMany"]
  storageClassName: ceph-filesystem
  resources:
    requests:
      storage: 50Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: localai-local-ai-output
  namespace: ai
  labels:
    app.kubernetes.io/name: &name localai
    app.kubernetes.io/instance: *name
    snapshot.home.arpa/enabled: "true"
spec:
  accessModes: ["ReadWriteMany"]
  storageClassName: ceph-filesystem
  resources:
    requests:
      storage: 5Gi
