---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: local-ai-models
  namespace: ai
spec:
  accessModes: ["ReadWriteMany"]
  storageClassName: ceph-filesystem
  resources:
    requests:
      storage: 200Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: local-ai-backends
  namespace: ai
spec:
  accessModes: ["ReadWriteMany"]
  storageClassName: ceph-filesystem
  resources:
    requests:
      storage: 20Gi
