---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app pgadmin
  namespace: &namespace database
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/database/pgadmin/app
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: cloudnative-pg-cluster18
      namespace: database
    - name: external-secrets-stores
      namespace: external-secrets
    - name: volsync
      namespace: volsync
  prune: true
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 500Mi
      VOLSYNC_CLAIM: pgadmin-config
      VOLSYNC_GID: "5050"
      VOLSYNC_UID: "5050"
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
