---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  interval: 1h
  values:
    cephClusterSpec:
      cleanupPolicy:
        wipeDevicesFromOtherClusters: true
      crashCollector:
        disable: false
      csi:
        readAffinity:
          enabled: false
      dashboard:
        enabled: true
        urlPrefix: /
        ssl: false
        prometheusEndpoint: http://prometheus-operated.monitoring.svc.cluster.local:9090
#        port: 8443
      mgr:
        count: 1
        modules:
          - name: diskprediction_local
            enabled: true
          - name: insights
            enabled: true
          - name: pg_autoscaler
            enabled: true
          - name: rook
            enabled: true
      mon:
        allowMultiplePerNode: false
        count: 2
      network:
        provider: host
        connections:
          requireMsgr2: true
      placement:
        mgr: &placement
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: node-role.kubernetes.io/control-plane
                      operator: Exists
        mon: *placement
      storage:
        useAllNodes: false
        useAllDevices: false
        config:
          osdsPerDevice: "1"
        nodes:
#          - name: nuc1
#            devices:
#              - name: /dev/disk/by-id/scsi-SATA_Samsung_SSD_860_S419NGAK201355E
#              - name: /dev/disk/by-id/nvme-Samsung_SSD_970_EVO_500GB_S466NX0K521460E
#          - name: nuc2
#            devices:
#              - name: /dev/disk/by-id/scsi-SATA_Samsung_SSD_860_S3YANB0K230473L
#          - name: nuc3
#            devices:
#              - name: /dev/disk/by-id/scsi-SATA_Samsung_SSD_860_S3YANB0K230462F
#              - name: /dev/disk/by-id/nvme-INTEL_SSDPEKKW512G8_BTHH81000E09512D
          - name: ms1
            devices:
              - name: /dev/disk/by-id/nvme-SAMSUNG_MZQL21T9HCJR-00A07_S64GNE0R401606
          - name: ms2
            devices:
              - name: /dev/disk/by-id/nvme-SAMSUNG_MZQL21T9HCJR-00A07_S64GNE0R401626
          - name: ms3
            devices:
              - name: /dev/disk/by-id/nvme-SAMSUNG_MZQL21T9HCJR-00BAL_S68LNE0RC10493
#          - name: blade7
#            devices:
#              - name: /dev/nvme0n1p3
#          - name: blade8
#            devices:
#              - name: /dev/nvme0n1p3
    monitoring:
      enabled: true
      createPrometheusRules: true
#    ingress:
#      dashboard:
#        ingressClassName: internal
#        annotations:
#          hajimari.io/appName: "Rook"
#          hajimari.io/icon: mdi:chess-rook
#          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
#        host:
#          name: &host rook.${SECRET_DOMAIN}
#          path: /
#        tls:
#          - hosts:
#              - *host
    toolbox:
      enabled: false
#      affinity:
#        nodeAffinity:
#          requiredDuringSchedulingIgnoredDuringExecution:
#            nodeSelectorTerms:
#            - matchExpressions:
#              - key: node-role.kubernetes.io/worker
#                operator: In
#                values:
#                - worker
#          preferredDuringSchedulingIgnoredDuringExecution:
#          - weight: 1
#            preference:
#              matchExpressions:
#              - key: kubernetes.io/arch
#                operator: In
#                values:
#                - arm64
    route:
      dashboard:
        annotations:
          hajimari.io/appName: "Rook"
          hajimari.io/icon: mdi:chess-rook
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
        host:
          name: rook.davidstewen.com
          path: /
          pathType: PathPrefix
        parentRefs:
          - name: envoy-internal
            namespace: network
    cephBlockPools:
      - name: ceph-blockpool
        spec:
          failureDomain: host
          replicated:
            size: 3
        storageClass:
          enabled: true
          name: ceph-block
          allowVolumeExpansion: true
          isDefault: true
          mountOptions:
            - discard
          parameters:
            imageFormat: "2"
            imageFeatures: layering
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: rook-ceph
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: rook-ceph
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: rook-ceph
            csi.storage.k8s.io/fstype: ext4
          reclaimPolicy: Delete
          volumeBindingMode: Immediate
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-blockpool
      isDefault: false
      deletionPolicy: Delete
    cephFileSystems:
      - name: ceph-filesystem
        spec:
          metadataPool:
            replicated:
              size: 3
          dataPools:
            -  name: data0
               failureDomain: host
               replicated:
                 size: 3
          metadataServer:
            activeCount: 1
            activeStandby: true
            placement:
              topologySpreadConstraints:
                - maxSkew: 1
                  topologyKey: kubernetes.io/hostname
                  whenUnsatisfiable: DoNotSchedule
                  labelSelector:
                    matchLabels:
                      app.kubernetes.io/name: ceph-mds
                      app.kubernetes.io/part-of: ceph-filesystem
            priorityClassName: system-cluster-critical
            resources:
              requests:
                cpu: 1000m
                memory: 2Gi
              limits:
                memory: 4Gi
        storageClass:
          enabled: true
          name: ceph-filesystem
          allowVolumeExpansion: true
          isDefault: false
          pool: data0
          reclaimPolicy: Delete
          parameters:

            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-publish-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/controller-publish-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-cephfs-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
#            csi.storage.k8s.io/fstype: ext4
          volumeBindingMode: Immediate
    cephFileSystemVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-filesystem
      deletionPolicy: Delete
      isDefault: false
    cephObjectStores:
      - name: ceph-objectstore
        spec:
          metadataPool:
            failureDomain: host
            replicated:
              size: 3
          dataPool:
            failureDomain: host
            erasureCoded:
              dataChunks: 2
              codingChunks: 1
          preservePoolsOnDelete: true
          gateway:
            port: 80
            resources:
              requests:
                cpu: 500m
                memory: 1Gi
              limits:
                memory: 2Gi
            instances: 2
          healthCheck:
            bucket:
              interval: 60s
        storageClass:
          enabled: true
          name: ceph-bucket
          reclaimPolicy: Delete
          parameters:
            region: us-east-1
