---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app openclaw
  namespace: &namespace ai
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets
#  decryption:
#    provider: sops
#    secretRef:
#      name: sops-age
  path: ./kubernetes/apps/ai/openclaw/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  wait: true
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 20Gi
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
