---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-server
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich-server
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
#    defaultPodOptions:
#      affinity:
#        nodeAffinity:
#          requiredDuringSchedulingIgnoredDuringExecution:
#            nodeSelectorTerms:
#            - matchExpressions:
#              - key: kubernetes.io/arch
#                operator: In
#                values:
#                - arm64
#          preferredDuringSchedulingIgnoredDuringExecution:
#          - weight: 50
#            preference:
#              matchExpressions:
#              - key: node-role.kubernetes.io/worker
#                operator: In
#                values:
#                - worker
    controllers:
      immich:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
          configmap.reloader.stakater.com/reload: &configMap immich-configmap
          secret.reloader.stakater.com/reload: &secret immich

        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0

            envFrom: &envFrom
              - configMapRef:
                  name: *configMap
              - secretRef:
                  name: *secret
              - secretRef:
                  name: cluster-secrets
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
#            args: ["start-server.sh"]

            env:
              IMMICH_MEDIA_LOCATION: &mediaLocation /usr/src/app/upload

            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /server-info/ping
                    port: &port 2283
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/server/ping
                    port: *port
                  failureThreshold: 30
                  periodSeconds: 5
                  successThreshold: 1
                  timeoutSeconds: 1
            resources:
              requests:
                cpu: 100m
                memory: 250Mi

    service:
      app:
        controller: main
        ports:
          http:
            port: &httpPort 2283

#    ingress:
#      main:
#        className: internal
#        annotations:
##          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
#          nignx.ingress.kubernetes.io/force-ssl-redirect: "true"
#          nginx.ingress.kubernetes.io/proxy-body-size: "0"
#          hajimari.io/appName: Photos
#          hajimari.io/icon: heroicons:photo
#          hajimari.io/instance: "admin"
#          gethomepage.dev/enabled: "true"
#          gethomepage.dev/group: Media
#          gethomepage.dev/name: Immich
#          gethomepage.dev/icon: immich.png
#          gethomepage.dev/description: Self-hosted photo and video management solution
##          gethomepage.dev/widget.type: immich
##          gethomepage.dev/widget.url: http://immich-server.media.svc.cluster.local:3001
##          gethomepage.dev/widget.key: "f8J3C8v9xUBrxTixovnoGeOoKUCdgFKj7DVtubfwY"
#        hosts:
#          - host: &host "photos.${SECRET_DOMAIN}"
#            paths:
#              - path: /
#                pathType: Prefix
#                service:
#                  identifier: main
#                  port: *httpPort
#        tls:
#          - hosts:
#              - *host

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: Immich
          gethomepage.dev/icon: immich.png
          gethomepage.dev/description: Self-hosted photo and video management solution
          gethomepage.dev/widget.type: immich
          gethomepage.dev/widget.url: http://lidarr.media:8686
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_LIDARR_TOKEN}}`}}"
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *httpPort

    persistence:
      config:
        type: configMap
        name: *configMap
        globalMounts:
          - path: /config

      library:
        existingClaim: immich-upload-pvc
        globalMounts:
          - path: *mediaLocation

      geocoding-dump:
        type: emptyDir
        globalMounts:
          - path: /usr/src/app/.reverse-geocoding-dump

      transformers-cache:
        type: emptyDir
        globalMounts:
          - path: /usr/src/app/.transformers_cache
