---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app comfyui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    controllers:
      comfyui:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          runtimeClassName: nvidia

          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: nvidia.com/gpu.present
                        operator: In
                        values:
                          - "true"

          nodeSelector:
            nvidia.com/gpu.present: "true"

        containers:
          app:
            image:
              repository: ghcr.io/ai-dock/comfyui
              tag: v2-cuda-12.1.1-base-22.04-v0.2.0@sha256:eacd7b9281383b13b53d86cacc283f856417c79a1312634e8a9cc6308cbe60f6
            env:
              TZ: ${TIMEZONE}
              PROVISIONING_SCRIPT: "https://raw.githubusercontent.com/ai-dock/comfyui/main/config/provisioning/flux.sh"
            resources:
              requests:
                nvidia.com/gpu: 1 # requesting 1 GPU
                cpu: 500m
                memory: 6Gi
              limits:
                memory: 6Gi
                nvidia.com/gpu: 1 # requesting 1 GPU

    service:
      app:
        controller: comfyui
        ports:
          http:
            port: 8188

    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: "ComfyUI"
          hajimari.io/icon: mdi:draw
          hajimari.io/group: "AI"
          hajimari.io/instance: "admin"
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      workspace:
        enabled: true
        existingClaim: comfyui-workspace-pvc
        globalMounts:
          - path: /workspace
