---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync
  values:

    controllers:
      calibre:
        type: statefulset

        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/calibre
              tag: 9.3.0

            env:
              TZ: ${TZ}
              PUID: 568
              PGID: 568
              FM_HOME: /media/calibre

            resources:
              requests:
                cpu: 15m
                memory: 249M

            probes:
              startup:
                spec:
                  initialDelaySeconds: 60
                  failureThreshold: 160
    service:
      app:
        controller: calibre
        ports:
          http:
            port: 8080

      # webserver:
      #   enabled: true
      #   ports:
      #     webserver:
      #       enabled: true
      #       port: 8081
      #       protocol: TCP
      #       targetPort: 8081
      #   type: LoadBalancer
      #   externalTrafficPolicy: Cluster
      #   loadBalancerIP: ${LB_CALIBRE}

    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          # authentik.home.arpa/enabled: "true"
          external-dns.alpha.kubernetes.io/target: "internal.${SECRET_DOMAIN}"
        hosts:
          - host: &host "calibre.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - secretName: *host
            hosts:
              - *host

    persistence:
      config:
        enabled: true
        existingClaim: *app
      media:
        enabled: true
        type: nfs
        server: 192.168.10.15
        path: /volume2/piNFS01/flux-cluster/plex/media
        globalMounts:
          - path: /media
