---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: wiki
  namespace: selfhosted
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: wiki-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Database
        DB_HOST: &dbHost "postgres18-rw.database.svc.cluster.local"
        DB_PORT: "5432"
        DB_USER: &dbUser "{{ .WIKI_POSTGRES_USER }}"
        DB_PASS: &dbPass "{{ .WIKI_POSTGRES_PASSWORD }}"
        DB_NAME: "wiki"
        # Postgres Init
        INIT_POSTGRES_DBNAME: wiki
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
