---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cloudnative-pg
  namespace: &namespace database
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/database/cloudnative-pg/app
  dependsOn:
    - name: openebs
      namespace: openebs-system
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cloudnative-pg-cluster17
  namespace: &namespace database
spec:
  dependsOn:
    - name: cloudnative-pg
      namespace: database
    - name: plugin-barman-cloud
      namespace: database
    - name: external-secrets-stores
      namespace: external-secrets
  healthCheckExprs:
    - apiVersion: postgresql.cnpg.io/v1
      kind: Cluster
      failed: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
      current: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  path: ./kubernetes/apps/database/cloudnative-pg/cluster17
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
## ---
## yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
#apiVersion: kustomize.toolkit.fluxcd.io/v1
#kind: Kustomization
#metadata:
#  name: &app cloudnative-pg-cluster18
#  namespace: &namespace database
#spec:
#  dependsOn:
#    - name: cloudnative-pg
#      namespace: database
#    - name: plugin-barman-cloud
#      namespace: database
#    - name: external-secrets-stores
#      namespace: external-secrets
#  healthCheckExprs:
#    - apiVersion: postgresql.cnpg.io/v1
#      kind: Cluster
#      failed: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
#      current: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')
#  targetNamespace: *namespace
#  commonMetadata:
#    labels:
#      app.kubernetes.io/name: *app
#  decryption:
#    provider: sops
#    secretRef:
#      name: sops-age
#  path: ./kubernetes/apps/database/cloudnative-pg/cluster18
#  postBuild:
#    substituteFrom:
#      - name: cluster-secrets
#        kind: Secret
#  prune: true
#  sourceRef:
#    kind: GitRepository
#    name: flux-system
#    namespace: flux-system
#  wait: true
#  interval: 30m
#  retryInterval: 1m
#  timeout: 5m
