---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pgadmin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: pgadmin
  values:
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - arm64
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            preference:
              matchExpressions:
              - key: node-role.kubernetes.io/worker
                operator: In
                values:
                - worker
    controllers:
      pgadmin:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
#          secret.reloader.stakater.com/reload: authelia-secret
        pod:
          securityContext:
            runAsUser: 5050
            runAsGroup: 5050
            fsGroup: 5050
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: docker.io/dpage/pgadmin4
              tag: 9.12@sha256:10137f33be7ed61e47f56004493710cb5b80ba7fb0ca01758855e242f1f284a7
            env:
              PGADMIN_DISABLE_POSTFIX: "true"
              PGADMIN_LISTEN_PORT: &httpPort 5050
              TZ: "${TIMEZONE}"
            envFrom:
              - secretRef:
                  name: pgadmin-secret
              - secretRef:
                  name: cluster-secrets
            resources:
              requests:
                cpu: 15m
                memory: 100M
              limits:
                memory: 500M
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /misc/ping
                    port: *httpPort
                  failureThreshold: 10
              readiness: *probes
              startup: *probes
    service:
      app:
        controller: *app
        ports:
          http:
            port: *httpPort

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Database
          gethomepage.dev/name: pgAdmin
          gethomepage.dev/icon: postgresql.png
          gethomepage.dev/href: https://pgadmin.${SECRET_DOMAIN}
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *httpPort

    persistence:
      config:
        existingClaim: pgadmin-config
        globalMounts:
          - path: /var/lib/pgadmin

      nfs:
        type: nfs
        server: ${NAS_IP:=temp}
        path: /volume2/piNFS01/flux-cluster/postgres/pgadmin_backups
        globalMounts:
          - path: /mnt/nfs
            readOnly: false

#      server-json:
#        enabled: true
#        type: configMap
#        name: servers-json
#        globalMounts:
#          - path: /pgadmin4/servers.json
#            subPath: servers.json
