---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: esphome
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      esphome:
        annotations:
          secret.reloader.stakater.com/reload: esphome-secrets
        pod:
#          annotations:
#            k8s.v1.cni.cncf.io/networks: |
#              [{
#                "name":"multus-iot",
#                "namespace": "network",
#                "ips": ["192.168.12.231/22"],
#                "mac": "92:cf:d7:05:70:84"
#              }]
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                - matchExpressions:
                  - key: node-role.kubernetes.io/worker
                    operator: In
                    values:
                    - worker
              preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 1
                preference:
                  matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                    - arm64
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/esphome
              tag: 2026.1.5@sha256:a65c74832cde93bd12685529ff837649386bb34a6cba8b99f1ad16dd8286c5aa
            # env:
            #   ESPHOME_DASHBOARD_USE_PING: true
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 512Mi
              limits:
                memory: 4Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.108.2@sha256:31ad23cda720476e7eb3371a9b02fd7a5738843f6ef43beef97e9edf1960fc47
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /config/.code-server
              - --extensions-dir
              - /config/.code-server
              - --port
              - "12321"
              - /config
            env:
              ESPHOME_VERSION: "{{ (split \"@\" .Values.controllers.esphome.containers.app.image.tag)._0 }}"
              GIT_AUTHOR_NAME: auricom
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 6052
      code-server:
        ports:
          http:
            port: &code-server-port 12321
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: esphome-app
                port: *port
          - matches:
              - path:
                  type: PathPrefix
                  value: /code/
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /
            backendRefs:
              - name: esphome-code-server
                port: *code-server-port
    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          esphome:
            app:
              - path: /config
            code-server:
              - path: /config
              - path: /mnt/code-server
                subPath: code-server
      secrets:
        type: secret
        name: esphome-secrets
        globalMounts:
          - path: /config/secrets.yaml
            subPath: secrets.yaml
      buildcache:
        suffix: buildcache
        size: 50Gi
        accessMode: ReadWriteOnce
        storageClass: openebs-hostpath
        advancedMounts:
          esphome:
            app:
              - path: /cache
      tmpfs:
        type: emptyDir
        advancedMounts:
          esphome:
            app:
              - path: /tmp
                subPath: esphome-tmp
            code-server:
              - path: /tmp
                subPath: code-server-tmp
              - path: /nonexistent
                subPath: nonexistent
