---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: esphome
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      esphome:
        revisionHistoryLimit: 3
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                - matchExpressions:
                  - key: node-role.kubernetes.io/worker
                    operator: In
                    values:
                    - worker
              preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 1
                preference:
                  matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                    - arm64
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/esphome
              tag: 2026.1.5@sha256:a65c74832cde93bd12685529ff837649386bb34a6cba8b99f1ad16dd8286c5aa

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            securityContext:
              runAsNonRoot: false
              readOnlyRootFilesystem: false
              privileged: true
              capabilities:
                add:
                  - NET_ADMIN
                  - NET_RAW

            resources:
              requests:
                cpu: 20m
                memory: 64M
              limits:
                memory: 512M

            env:
              TZ: "${TIMEZONE}"
              ESPHOME_DASHBOARD_USE_PING: true
              ESPHOME__INSTANCE_NAME: ESPHome
              ESPHOME__PORT: &httpPort 6052
              ESPHOME__APPLICATION_URL: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
              ESPHOME__LOG_LEVEL: info

    service:
      app:
        controller: *app
        ports:
          http:
            port: 6052

#    ingress:
#      app:
#        className: "internal"
#        annotations:
#          hajimari.io/enable: "true"
#          hajimari.io/instance: "admin"
#          hajimari.io/appName: "ESPHome"
#          hajimari.io/icon: mdi:chip
#          hajimari.io/group: "home automation"
#          gethomepage.dev/enabled: "true"
#          gethomepage.dev/group: Home
#          gethomepage.dev/name: esphome
#          gethomepage.dev/icon: esphome.png
#          gethomepage.dev/description: ESPHome
#          gethomepage.dev/widget.type: esphome
#          gethomepage.dev/widget.url: http://esphome.home:6052
#          gethomepage.dev/widget.key: "834c5259ed37fc041ba31a32f8d9bd608fb9a2ab"
#        hosts:
#          - host: &host "esphome.${SECRET_DOMAIN}"
#            paths:
#              - path: /
#                service:
#                  identifier: app
#                  port: http
#        tls:
#          - hosts:
#              - *host

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: esphome
          gethomepage.dev/icon: sh-esphome
          gethomepage.dev/description: ESPHome
          gethomepage.dev/widget.type: esphome
          gethomepage.dev/widget.url: http://esphome.home:6052
        hostnames: ["esphome.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *httpPort
    persistence:
      config:
        existingClaim: esphome-config
      esphome-cache:
        type: emptyDir
        globalMounts:
          - path: /cache
