---
# yaml-language-server: $schema=https://schemas.bykaj.io/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plugin-barman-cloud
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    certificate:
      # Renew 22 days before expiry (must be > 21d alert threshold)
      renewBefore: 528h
    resources:
      requests:
        cpu: 20m
        memory: 128Mi
