---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cloudflare-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: cloudflare-exporter
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - arm64
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            preference:
              matchExpressions:
              - key: node-role.kubernetes.io/worker
                operator: In
                values:
                - worker
    controllers:
      cloudflare-exporter:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/cyb3r-jak3/cloudflare-exporter
              tag: v2.3.1
            env:
              TZ: ${TIMEZONE}
              CF_ZONES: ${SECRET_DOMAIN}
              FREE_TIER: true
            envFrom:
            - secretRef:
                name: cloudflare-exporter-secret
            resources:
              requests:
                cpu: 10m
                memory: 30M
#              limits:
#                memory: 64M
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
    serviceMonitor:
      app:
        serviceName: *app
        enabled: true
        endpoints:
        - port: http
          scheme: http
          path: /metrics
          interval: 5m
          scrapeTimeout: 1m
