# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app external-dns-pihole
  namespace: &namespace network
spec:
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets
#  decryption:
#    provider: sops
#    secretRef:
#      name: sops-age
  path: ./kubernetes/apps/network/external-dns-pihole
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
