---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lldap
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: lldap
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      lldap:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6.0
            envFrom: &envFrom
              - secretRef:
                  name: lldap-secret
        containers:
          app:
            image:
              repository: ghcr.io/lldap/lldap
              tag: v0.6.2@sha256:9e605a66c02514bfcffd1b67cafb1e98d50992216bb2871d7ae44622047dd09d
            env:
              TZ: Australia/Victoria
              LLDAP_HTTP_PORT: &port 80
              LLDAP_HTTP_URL: https://lldap.davidstewen.com
              LLDAP_LDAP_PORT: &ldapPort 389
              LLDAP_LDAP_BASE_DN: dc=home,dc=arpa
            envFrom: *envFrom
            resources:
              requests:
                cpu: 5m
                memory: 36M
              limits:
                memory: 64M
        pod:
#          affinity:
#            nodeAffinity:
#              requiredDuringSchedulingIgnoredDuringExecution:
#                nodeSelectorTerms:
#                - matchExpressions:
#                  - key: node-role.kubernetes.io/worker
#                    operator: In
#                    values:
#                    - worker
#              preferredDuringSchedulingIgnoredDuringExecution:
#              - weight: 1
#                preference:
#                  matchExpressions:
#                  - key: kubernetes.io/arch
#                    operator: In
#                    values:
#                    - arm64
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
    service:
      app:
        controller: lldap
        ports:
          http:
            port: *port
          ldap:
            port: *ldapPort
#    ingress:
#      app:
#        enabled: true
#        annotations:
#          hajimari.io/enable: "true"
#          hajimari.io/icon: mdi:account-multiple
#          hajimari.io/info: "LLDAP instance for home.arpa"
#          gethomepage.dev/enabled: "true"
#          gethomepage.dev/icon: lldap.png
#          gethomepage.dev/name: LLDAP
#          gethomepage.dev/group: Infrastructure
#          gethomepage.dev/description: OIDC User Management
#        className: internal
#        hosts:
#          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
#            paths:
#              - path: /
#                service:
#                  identifier: app
#                  port: http
#        tls:
#          - hosts:
#              - *host

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: lldap.png
          gethomepage.dev/name: LLDAP
          gethomepage.dev/group: Infrastructure
          gethomepage.dev/description: OIDC User Management
          gethomepage.dev/pod-selector: app.kubernetes.io/name=lldap
        hostnames: ["lldap.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https

    persistence:
      data:
        type: emptyDir
